<% if flash[:notice] %>
  <p class="positive_notice"><%= flash[:notice] %><p>
<% end %>

<ul>
  <% @products.each do |item|  %>
    <li><a href="/products/<%= item.id %>"><%= item.name %></a></li>
  <% end %>

</ul>
