<h2><%= @product.name %></h2>
<ul>

  <li><%= @product.description %></li>
  <li><%= number_to_currency(@product.price, precision: 2) %></li>
  <% if logged_in? %>
    <li><%= link_to "Add to Cart", add_to_cart_path %></li>
  <% end %>

</ul>
