<% if @error %>
  <p class="text-danger">Transaction Failed. <%= link_to "Try again", display_cart_user_path(current_user) %></li></p>

<% else %>
  <p class="text-success">Transaction Success!</p>
<% end %>
