<h1>Click to confirm purchase for $<%= (@total_cost.to_f / 100) %> </h1>

<%= form_tag({controller: 'charges', action: 'create'}, method: 'post', id: 'braintree-form') do %>
  <input type="submit" value="Submit Transaction">
<% end %>
